<div class="row">
  <h1>Artists</h1>
  <ul>
    <% @artists.each do |artist| %>
    <hr/>
      <li><%= link_to artist.artist_name, artist_path(artist) %></li>
    <hr/>
      <div>
        <div>
          <%= image_tag artist.artist_image %>
        </div>
      </div>
    <% end %>
  </ul>
